---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// http://www.colourlovers.com/palette/44764/Rebel_Yell
$colors: (
  maverick: #AB4A37,
  moon_ada: #347385,
  misfit: #85D9F1,
  defy: #4F514E,
  caring: #DBC6A9
);


$foreground: map-get($colors, maverick);
$background: lighten(map-get($colors, defy), 60);


$countr: 0;
@each $color, $value in $colors {
  $countr: $countr + 1;
  // @debug $countr;
  // @debug $color;
  // @debug "-----------";

  .c4wd-ptl-newcolorswatch:nth-child(#{$countr}) {
    display: inline-block;
    background-color: $value;
    width: 8em;
    height: 5em;
    color: white;
    &::after {
      content: '#{$color}';
      /* offset-x | offset-y | blur-radius | color */
      text-shadow: 1px 1px 0px black;
      padding: 0.5em;
      line-height: 3em;
      font-weight: 900;
      font-size: 12px;
    }
  }

}

// fontsizes TODO make map
$small: .62em;
$copy: 1em;
$large: 1.62em;
$xlarge: 2.62em;


div {
  background-color: white;
}

.c4wd-body {
  min-height: 95vh;
  border-right: 1px solid black;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


// figure reset
figure {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;

    // max-width: 100%;
}

@mixin cartonize($thick: false) {

    background-color: $background;
    color: $foreground;
    padding: 0.5em 1em;
    transform-origin: center;
    transform: translate(#{random(50) / 100}em, #{random(50) / -100}em) skew(#{random(15) / 10}deg, #{random(15) / -10}deg);

  &::after {
    pointer-events: none;
    content: " ";
    @if $thick {
      border: 8px solid $foreground;
    }
    @else {
      border: 3px solid $foreground;
    }

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: center;
    transform: translate(#{random(50) / -100}em, #{random(50) / 100}em) skew(#{random(15) / -10}deg, #{random(15) / 10}deg) scale(0.95);
  }
}

@import "../_patterns/button.scss";
@import "../_patterns/markdown.scss";
@import "../_patterns/00-layout-and-grid.scss";

* {
  box-sizing: border-box;
}


.c4wd-view {
  background-color: white;
}

.c4wd-talks-index {
  // @include cartonize;
}
.c4wd-talk-index-image-wrapper {
  @include cartonize;
  width: 5em;
  padding: 0;
  position: relative;
  top: -7em;
  left: 15.5em;

  img {
    width: 100%;
  }
}

.c4wd-markdown h2 {
  position: relative;
  left: -1.3em;
  span {
    font-size: 0.62em;
  }

}


.c4wd-talk-image-wrapper {
  background-color: $background;
  @include cartonize($thick: true);
  // margin-bottom: -1.5em;
  transform-origin: center;
  transform: scale(1.2);
  margin-top: 1em;
}

.c4wd-talk-figure {
  max-width: 95%;

  .c4wd-speaker-image-wrapper {
    max-width: 100%;
    @include cartonize;
  }
  img {
    width: 100%;
  }
  figcaption {
    // @include cartonize;
    position: relative;
    top: -0.6em;
    left: 1em;
    display: inline-block;
    max-width: 95%;
  }

}

.c4wd-speaker-figure {
  z-index: 1;
  margin: 0;
  clear: both;
  width: 62vw;
  float: left;
  .c4wd-speaker-image-wrapper {
    @include cartonize;
  }
  img {
    width: 100%;
  }
  figcaption {
    @include cartonize;
    position: relative;
    top: -0.6em;
    left: 1em;
    display: inline-block;
  }


  .c4wd-speakers-index & {
    width: 100%;
    clear: none;
    margin: 0 1em 1em 0;
    // display: flex;
  }
}

.c4wd-speaker-links {
  @include cartonize;
  font-size: $small;
  width: 40%;
  padding-left: 2em;
  margin-left: 1em;
}


.c4wd-speaker-bio {
  clear: both;
  margin-bottom: 1em;
  @include cartonize;
}



/* BASE VARS, ARGH */
/* need to douplicate stuff from jekyll config :( */


.debug {

  border: 1px dotted black;
  padding: .5em;

  // background-color: hsla(210, 100%, 12%, 0.7);
  background-color: white;
  // border: 2px solid yellow;
  color: black;

  a {
    color: black;
    font-weight: 900;
  }

}

#debug-console {
  display: none;
}



/*
see [Reimagining Single-Page Applications With Progressive Enhancement – Smashing Magazine](https://www.smashingmagazine.com/2015/12/reimagining-single-page-applications-progressive-enhancement/)
*/

main > * {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s;
    max-height: 60vh;
    overflow: hidden;
    padding-bottom: 4em;


}



@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1); }
}

.c4wd-main {
  position: relative;
}

#home {
    display: block;
    opacity: 1;
    z-index: -100;
}


main > *:target {
    display: block;
    // animation: pulse 0.2s ease-out 1;
    opacity: 1;
    max-height: none;
}

main > *:target ~ * {
    display: none;
}




/*
// Using System UI Fonts In Web Design: A Quick Practical Guide – Smashing Magazine
// http://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
// last checked: dec 2015
*/



// from header


#nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}


label[for="nav-trigger"] {
  /* critical positioning styles */
  /*position: absolute;*/
  /*left: 15px; top: 15px;*/
  z-index: 2;

  /* non-critical apperance styles */
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}


#burger-menu {
  position: absolute;
  bottom: -630px;
  background-color: black;
  padding: 1em;
  border: 2px solid black;
  line-height: 40px;
  transition: bottom .2s ease-out, opacity .2s ease-out;
  opacity: 0;
  z-index: -20;

}
.nav-trigger:checked ~ #burger-menu {
  bottom: 80px;
  opacity: .9;
}

.c4wd-nav {
  /*background-color: black;
  color: white;*/
  font-weight: 900;
  box-shadow: 0px -5px 18px 0px rgba(50, 50, 50, 0.64);

  position: fixed;
  z-index: 1000;
  bottom: 0;
  max-width: 400px;
  width: 93%;
}


.c4wd-nav-item {
  display: inline-block;
  /*float: left;*/
  width: 16%;
  height: 48px;
  line-height: 48px;
  font-size: 10px;
  text-align: center;
}


.icon, .menu-icon {
  display: inline-block;
  width: 1em;
  margin-right: 0.4em;
}



.c4wd-talks-entry {
  display: block;
}


// from index

  .c4wd-ptl-colorswatch {
    display: inline-block;
    width: 13em;
  }
  .c4wd-ptl-colorswatch-color-field {
    width: 8em;
  }
  .c4wd-ptl-colorswatch-color-field, .c4wd-ptl-colorswatch-label {
    font-size: 0.62em;
    height: 5em;
    display: inline-block;
  }



.clearfix:after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  height: 100%;
  background-color:pink;
}


.c4wd-view {
    padding-top: 1em;
    padding-bottom: 4em;
    max-width: 100%;
}


.c4wd-patternlab-entry {
  overflow: hidden;
}