


// TODO: generate 30 animations
// these keyframes are later applied with JS

@keyframes wobbling1 {
  0%, 100% {
    transform: translate(#{random(20) / 100}em, #{random(50) / -100}em) skew(#{random(15) / 10}deg, #{random(15) / -10}deg);
  }
  50% {
    transform: translate(#{random(70) / -100}em, #{random(30) / -100}em) scaleY(#{random(10) / 100 + 1})  skew(#{random(40) / -10}deg, #{random(8) / 10}deg);
  }
}


.c4wd-markdown {
  h1 {
    @include cartonize;
  }
  h2 {
    @include cartonize;
    &::after {
      mix-blend-mode: multiply;
    }
  }
  p {
    @include cartonize;
    max-width: 32em;
    padding: 1em 2em;
  }
  img {
    // cartonizing should be done by wrapper element
    // because img does not support ::after
    padding: 0.5em;
    // border: 3px solid $foreground;
  }
  a {
    font-weight: 900;
    color: inherit;
  }
  span {}
}


// .c4wd-markdown > *,
.c4wd-markdown > * > img {


    // background-color: #111;
    // color: #FFDC00;


    // @include cartonize;
    // transform: translate(#{random(20) / 100}em, #{random(50) / -100}em) skew(#{random(15) / 10}deg, #{random(15) / -10}deg);
    // animation-duration: 50s;
    // animation-name: wobbling1;
    // animation-iteration-count: infinite;
}


// .c4wd-markdown > *::after {
//   content: " ";
//   border: 3px solid $foreground;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   left: 0;
//   top: 0;

//   // transform: translate(#{random(20) / 100}em, #{random(50) / -100}em) skew(#{random(15) / 10}deg, #{random(15) / -10}deg);
//   animation-duration: 50s;
//   // animation-name: wobbling1;
//   animation-iteration-count: infinite;
// }


/* no image::after, so... */
// .c4wd-markdown > * > img {
// }

